<!-- <div *ngIf="nome != 'Eliel'">
    <p [ngClass]="{'active': valor, 'disabled': !valor}">NgClass</p>
    <p [ngStyle]="{'height': altura, 'background': backgroundColor}">NgStyle</p>
</div>

<hr>

** TRECHO COMENTADO PARA DIMINUIR ELEMENTOS VISUAIS EXIBIDOS DURANTE AS AULAS **

<input [(ngModel)]="nome" type="text">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{ item.nome }}</li>

<hr> -->

<!-- CRIA UM ATRIBUTO NO HTML LIMPO -->
<ng-template ngFor let-item [ngForOf]="list">

    <p>
        {{ item.nome }}
    </p>

</ng-template>

<input [(ngModel)]="nome" type="text">
<button (click)="salvar()">Salvar</button>