<form #form="ngForm" (ngSubmit)="submitForm(form)">

    <label>
        Nome: 
        <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>
        <span *ngIf="nome.invalid && (nome.dirty && nome.touched)">Invalid</span>
    </label>

    <br>
    <br>

    {{ nome.valid }}
    {{ nome.dirty }}
    {{ nome.touched }}
    <!-- {{ form.valid }} -->
    <!-- 
        valid
        dirty
        touched 
    -->

    <br>
    <br>

    <label>
        <input type="radio" name="sexo" value="Masculino" ngModel>
        Masculino
    </label>

    <br>
    <br>

    <label>
        <input type="radio" name="sexo" value="Feminino" ngModel>
        Feminino
    </label>

    <br>
    <br>

    <label>
        <input type="radio" name="sexo" value="Outros" ngModel>
        Outros
    </label>

    <br>
    <br>

    <label>
        <input type="checkbox" name="angular" ngModel>
        Angular
    </label>

    <br>
    <br>

    <label>
        <input type="checkbox" name="vue" ngModel>
        Vue
    </label>

    <br>
    <br>

    <label>
        <input type="checkbox" name="react" ngModel>
        React
    </label>

    <br>
    <br>

    <select name="comidas" ngModel>
        <option value="">Selecione um alimento</option>
        <!-- ngValue passa o objeto json e nao apenas o valor [object Object] -->
        <option *ngFor="let item of listComidas" [ngValue]="item">
            {{ item.comida }} - {{ item.preco }}
        </option>
    </select>

    <br>
    <br>
    
    <button [disabled]="form.invalid">Enviar dados</button>

</form>

<br>
<br>
{{ form.value | json }}
